.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 200px;
    min-width: 320px;
    position: relative;
}

@media (min-width: 768px) {
    .cover {
        min-height: 480px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media (min-width: 1280px) {
    .cover {
        max-width: 1184px;
    }
}